<li>
	{{name}}

	<button class="change-devour order-button" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour It!{{else}}Order Again!{{/if}}
	</button>
	<div class="delete" data-id="{{id}}" data-newdelete="{{devour}}">
		{{#if devour}}{{else}}<button display="inline-block" class="delete-button">Delete Burger</button>{{/if}}
	</div>
</li>
